## Config file for scriptor_cost
## These are default values for gamerules.
## If your world has already been created, you can change most of them
## using '/gamerule scriptor_cost:[var]'


## Cost type to use for inflame 
action.inflame.type=ADDITIVE
## Cost to cast for inflame 
action.inflame.cost=2.0
## Cost type to use for light 
action.light.type=ADDITIVE
## Cost to cast for light 
action.light.cost=2.0
## Cost type to use for heal 
action.heal.type=ADDITIVE
## Cost to cast for heal 
action.heal.cost=4.0
## Cost type to use for smite 
action.smite.type=ADDITIVE
## Cost to cast for smite 
action.smite.cost=12.0
## Cost type to use for explosion 
action.explosion.type=ADDITIVE
## Cost to cast for explosion 
action.explosion.cost=16.0
## Cost type to use for goto 
action.goto.type=ADDITIVE
## Cost to cast for goto 
action.goto.cost=6.0
## Cost type to use for swap 
action.swap.type=ADDITIVE
## Cost to cast for swap 
action.swap.cost=6.0
## Cost type to use for bring 
action.bring.type=ADDITIVE
## Cost to cast for bring 
action.bring.cost=6.0
## Cost type to use for break 
action.break.type=ADDITIVE
## Cost to cast for break 
action.break.cost=1.0
## Cost type to use for dry 
action.dry.type=ADDITIVE
## Cost to cast for dry 
action.dry.cost=0.6
## Cost type to use for place 
action.place.type=ADDITIVE
## Cost to cast for place 
action.place.cost=1.5
## Cost type to use for conjure_water 
action.conjure_water.type=ADDITIVE
## Cost to cast for conjure_water 
action.conjure_water.cost=1.5
## Cost type to use for harm 
action.harm.type=ADDITIVE
## Cost to cast for harm 
action.harm.cost=3.0
## Cost type to use for color 
action.color.type=ADDITIVE
## Cost to cast for color 
action.color.cost=8.0
## Cost type to use for time 
action.time.type=ADDITIVE
## Cost to cast for time 
action.time.cost=52.0
## Cost type to use for write 
action.write.type=ADDITIVE
## Cost to cast for write 
action.write.cost=0.2
## Cost type to use for clear_weather 
action.clear_weather.type=ADDITIVE
## Cost to cast for clear_weather 
action.clear_weather.cost=51.0
## Cost type to use for rain 
action.rain.type=ADDITIVE
## Cost to cast for rain 
action.rain.cost=51.0
## Cost type to use for fangs 
action.fangs.type=ADDITIVE
## Cost to cast for fangs 
action.fangs.cost=1.6
## Cost type to use for bound_sword 
action.bound_sword.type=ADDITIVE
## Cost to cast for bound_sword 
action.bound_sword.cost=6.0
## Cost type to use for bound_axe 
action.bound_axe.type=ADDITIVE
## Cost to cast for bound_axe 
action.bound_axe.cost=6.0
## Cost type to use for bound_shovel 
action.bound_shovel.type=ADDITIVE
## Cost to cast for bound_shovel 
action.bound_shovel.cost=6.0
## Cost type to use for bound_pickaxe 
action.bound_pickaxe.type=ADDITIVE
## Cost to cast for bound_pickaxe 
action.bound_pickaxe.cost=6.0
## Cost type to use for saturation 
action.saturation.type=ADDITIVE
## Cost to cast for saturation 
action.saturation.cost=3.0
## Cost type to use for poison 
action.poison.type=ADDITIVE
## Cost to cast for poison 
action.poison.cost=8.0
## Cost type to use for slow 
action.slow.type=ADDITIVE
## Cost to cast for slow 
action.slow.cost=6.0
## Cost type to use for regeneration 
action.regeneration.type=ADDITIVE
## Cost to cast for regeneration 
action.regeneration.cost=8.0
## Cost type to use for wither 
action.wither.type=ADDITIVE
## Cost to cast for wither 
action.wither.cost=12.0
## Cost type to use for speed 
action.speed.type=ADDITIVE
## Cost to cast for speed 
action.speed.cost=6.0
## Cost type to use for haste 
action.haste.type=ADDITIVE
## Cost to cast for haste 
action.haste.cost=8.0
## Cost type to use for strength 
action.strength.type=ADDITIVE
## Cost to cast for strength 
action.strength.cost=9.0
## Cost type to use for jump_boost 
action.jump_boost.type=ADDITIVE
## Cost to cast for jump_boost 
action.jump_boost.cost=9.0
## Cost type to use for resistance 
action.resistance.type=ADDITIVE
## Cost to cast for resistance 
action.resistance.cost=8.0
## Cost type to use for fire_resistance 
action.fire_resistance.type=ADDITIVE
## Cost to cast for fire_resistance 
action.fire_resistance.cost=10.0
## Cost type to use for water_breathing 
action.water_breathing.type=ADDITIVE
## Cost to cast for water_breathing 
action.water_breathing.cost=6.0
## Cost type to use for night_vision 
action.night_vision.type=ADDITIVE
## Cost to cast for night_vision 
action.night_vision.cost=6.0
## Cost type to use for weakness 
action.weakness.type=ADDITIVE
## Cost to cast for weakness 
action.weakness.cost=6.0
## Cost type to use for hero 
action.hero.type=ADDITIVE
## Cost to cast for hero 
action.hero.cost=100.0
## Cost type to use for phasing 
action.phasing.type=ADDITIVE
## Cost to cast for phasing 
action.phasing.cost=8.0
## Cost type to use for wild_phasing 
action.wild_phasing.type=ADDITIVE
## Cost to cast for wild_phasing 
action.wild_phasing.cost=15.0
## Cost type to use for invisibility 
action.invisibility.type=ADDITIVE
## Cost to cast for invisibility 
action.invisibility.cost=4.0
## Cost type to use for blindness 
action.blindness.type=ADDITIVE
## Cost to cast for blindness 
action.blindness.cost=7.0
## Cost type to use for self 
subject.self.type=ADDITIVE
## Cost to cast for self 
subject.self.cost=1.0
## Cost type to use for touch 
subject.touch.type=ADDITIVE
## Cost to cast for touch 
subject.touch.cost=1.0
## Cost type to use for hitscan 
subject.hitscan.type=ADDITIVE
## Cost to cast for hitscan 
subject.hitscan.cost=8.0
## Cost type to use for projectile 
subject.projectile.type=ADDITIVE
## Cost to cast for projectile 
subject.projectile.cost=3.0
## Cost type to use for rune 
subject.rune.type=ADDITIVE
## Cost to cast for rune 
subject.rune.cost=1.0
## Cost type to use for enchant 
subject.enchant.type=MULTIPLICATIVE
## Cost to cast for enchant 
subject.enchant.cost=10.0
## Cost type to use for meteor 
subject.meteor.type=ADDITIVE
## Cost to cast for meteor 
subject.meteor.cost=8.0
## Cost type to use for on_hit 
subject.on_hit.type=ADDITIVE
## Cost to cast for on_hit 
subject.on_hit.cost=1.3
## Cost type to use for on_damaged 
subject.on_damaged.type=ADDITIVE
## Cost to cast for on_damaged 
subject.on_damaged.cost=1.3
## Cost type to use for white 
descriptor.white.type=ADDITIVE
## Cost to cast for white 
descriptor.white.cost=0.0
## Cost type to use for light_gray 
descriptor.light_gray.type=ADDITIVE
## Cost to cast for light_gray 
descriptor.light_gray.cost=0.0
## Cost type to use for dark_gray 
descriptor.dark_gray.type=ADDITIVE
## Cost to cast for dark_gray 
descriptor.dark_gray.cost=0.0
## Cost type to use for black 
descriptor.black.type=ADDITIVE
## Cost to cast for black 
descriptor.black.cost=0.0
## Cost type to use for red 
descriptor.red.type=ADDITIVE
## Cost to cast for red 
descriptor.red.cost=0.0
## Cost type to use for orange 
descriptor.orange.type=ADDITIVE
## Cost to cast for orange 
descriptor.orange.cost=0.0
## Cost type to use for yellow 
descriptor.yellow.type=ADDITIVE
## Cost to cast for yellow 
descriptor.yellow.cost=0.0
## Cost type to use for lime_green 
descriptor.lime_green.type=ADDITIVE
## Cost to cast for lime_green 
descriptor.lime_green.cost=0.0
## Cost type to use for green 
descriptor.green.type=ADDITIVE
## Cost to cast for green 
descriptor.green.cost=0.0
## Cost type to use for light_blue 
descriptor.light_blue.type=ADDITIVE
## Cost to cast for light_blue 
descriptor.light_blue.cost=0.0
## Cost type to use for cyan 
descriptor.cyan.type=ADDITIVE
## Cost to cast for cyan 
descriptor.cyan.cost=0.0
## Cost type to use for blue 
descriptor.blue.type=ADDITIVE
## Cost to cast for blue 
descriptor.blue.cost=0.0
## Cost type to use for purple 
descriptor.purple.type=ADDITIVE
## Cost to cast for purple 
descriptor.purple.cost=0.0
## Cost type to use for magenta 
descriptor.magenta.type=ADDITIVE
## Cost to cast for magenta 
descriptor.magenta.cost=0.0
## Cost type to use for pink 
descriptor.pink.type=ADDITIVE
## Cost to cast for pink 
descriptor.pink.cost=0.0
## Cost type to use for brown 
descriptor.brown.type=ADDITIVE
## Cost to cast for brown 
descriptor.brown.cost=0.0
## Cost type to use for rainbow 
descriptor.rainbow.type=ADDITIVE
## Cost to cast for rainbow 
descriptor.rainbow.cost=0.0
## Cost type to use for long 
descriptor.long.type=ADDITIVE
## Cost to cast for long 
descriptor.long.cost=3.0
## Cost type to use for longer 
descriptor.longer.type=ADDITIVE
## Cost to cast for longer 
descriptor.longer.cost=6.0
## Cost type to use for very_long 
descriptor.very_long.type=ADDITIVE
## Cost to cast for very_long 
descriptor.very_long.cost=65.0
## Cost type to use for stacking_long 
descriptor.stacking_long.type=ADDITIVE
## Cost to cast for stacking_long 
descriptor.stacking_long.cost=6.0
## Cost type to use for slow 
descriptor.slow.type=ADDITIVE
## Cost to cast for slow 
descriptor.slow.cost=2.0
## Cost type to use for fast 
descriptor.fast.type=ADDITIVE
## Cost to cast for fast 
descriptor.fast.cost=2.0
## Cost type to use for chain 
descriptor.chain.type=MULTIPLICATIVE
## Cost to cast for chain 
descriptor.chain.cost=1.25
## Cost type to use for nether 
descriptor.nether.type=ADDITIVE
## Cost to cast for nether 
descriptor.nether.cost=20.0
## Cost type to use for collide_with_water 
descriptor.collide_with_water.type=ADDITIVE
## Cost to cast for collide_with_water 
descriptor.collide_with_water.cost=0.15
## Cost type to use for nearby_item 
descriptor.nearby_item.type=ADDITIVE
## Cost to cast for nearby_item 
descriptor.nearby_item.cost=0.05
## Cost type to use for recenter 
descriptor.recenter.type=MULTIPLICATIVE
## Cost to cast for recenter 
descriptor.recenter.cost=1.0
## Cost type to use for move_right 
descriptor.move_right.type=MULTIPLICATIVE
## Cost to cast for move_right 
descriptor.move_right.cost=1.05
## Cost type to use for copy_right 
descriptor.copy_right.type=MULTIPLICATIVE
## Cost to cast for copy_right 
descriptor.copy_right.cost=1.25
## Cost type to use for move_left 
descriptor.move_left.type=MULTIPLICATIVE
## Cost to cast for move_left 
descriptor.move_left.cost=1.05
## Cost type to use for copy_left 
descriptor.copy_left.type=MULTIPLICATIVE
## Cost to cast for copy_left 
descriptor.copy_left.cost=1.25
## Cost type to use for move_forwards 
descriptor.move_forwards.type=MULTIPLICATIVE
## Cost to cast for move_forwards 
descriptor.move_forwards.cost=1.05
## Cost type to use for copy_forwards 
descriptor.copy_forwards.type=MULTIPLICATIVE
## Cost to cast for copy_forwards 
descriptor.copy_forwards.cost=1.25
## Cost type to use for move_backwards 
descriptor.move_backwards.type=MULTIPLICATIVE
## Cost to cast for move_backwards 
descriptor.move_backwards.cost=1.05
## Cost type to use for copy_backwards 
descriptor.copy_backwards.type=MULTIPLICATIVE
## Cost to cast for copy_backwards 
descriptor.copy_backwards.cost=1.25
## Cost type to use for move_up 
descriptor.move_up.type=MULTIPLICATIVE
## Cost to cast for move_up 
descriptor.move_up.cost=1.05
## Cost type to use for copy_up 
descriptor.copy_up.type=MULTIPLICATIVE
## Cost to cast for copy_up 
descriptor.copy_up.cost=1.25
## Cost type to use for move_down 
descriptor.move_down.type=MULTIPLICATIVE
## Cost to cast for move_down 
descriptor.move_down.cost=1.05
## Cost type to use for copy_down 
descriptor.copy_down.type=MULTIPLICATIVE
## Cost to cast for copy_down 
descriptor.copy_down.cost=1.25
## Cost type to use for random_nearby 
descriptor.random_nearby.type=MULTIPLICATIVE
## Cost to cast for random_nearby 
descriptor.random_nearby.cost=1.75
## Cost type to use for inventory 
descriptor.inventory.type=ADDITIVE
## Cost to cast for inventory 
descriptor.inventory.cost=0.0
## Cost type to use for first_empty 
descriptor.first_empty.type=ADDITIVE
## Cost to cast for first_empty 
descriptor.first_empty.cost=0.0
## Cost type to use for first_filled 
descriptor.first_filled.type=ADDITIVE
## Cost to cast for first_filled 
descriptor.first_filled.cost=0.0
## Cost type to use for first_matching 
descriptor.first_matching.type=ADDITIVE
## Cost to cast for first_matching 
descriptor.first_matching.cost=0.0
## Cost type to use for caster_inventory 
descriptor.caster_inventory.type=ADDITIVE
## Cost to cast for caster_inventory 
descriptor.caster_inventory.cost=0.0
## Cost type to use for caster_first_empty 
descriptor.caster_first_empty.type=ADDITIVE
## Cost to cast for caster_first_empty 
descriptor.caster_first_empty.cost=0.0
## Cost type to use for caster_first_filled 
descriptor.caster_first_filled.type=ADDITIVE
## Cost to cast for caster_first_filled 
descriptor.caster_first_filled.cost=0.0
## Cost type to use for caster_first_matching 
descriptor.caster_first_matching.type=ADDITIVE
## Cost to cast for caster_first_matching 
descriptor.caster_first_matching.cost=0.0
## Cost type to use for blood_cost 
descriptor.blood_cost.type=ADDITIVE_POST
## Cost to cast for blood_cost 
descriptor.blood_cost.cost=-2.0
## Cost type to use for cheap 
descriptor.cheap.type=MULTIPLICATIVE
## Cost to cast for cheap 
descriptor.cheap.cost=0.5
## Cost type to use for healthy 
descriptor.healthy.type=MULTIPLICATIVE
## Cost to cast for healthy 
descriptor.healthy.cost=0.8
## Cost type to use for poisoned 
descriptor.poisoned.type=MULTIPLICATIVE
## Cost to cast for poisoned 
descriptor.poisoned.cost=0.7
## Cost type to use for weakened 
descriptor.weakened.type=MULTIPLICATIVE
## Cost to cast for weakened 
descriptor.weakened.cost=0.9
## Cost type to use for on_fire 
descriptor.on_fire.type=MULTIPLICATIVE
## Cost to cast for on_fire 
descriptor.on_fire.cost=0.7
## Cost type to use for critical 
descriptor.critical.type=MULTIPLICATIVE
## Cost to cast for critical 
descriptor.critical.cost=0.3
## Cost type to use for night 
descriptor.night.type=MULTIPLICATIVE
## Cost to cast for night 
descriptor.night.cost=0.7
## Cost type to use for rain 
descriptor.rain.type=MULTIPLICATIVE
## Cost to cast for rain 
descriptor.rain.cost=0.7
## Cost type to use for clear_skies 
descriptor.clear_skies.type=MULTIPLICATIVE
## Cost to cast for clear_skies 
descriptor.clear_skies.cost=0.9
## Cost type to use for unreliable 
descriptor.unreliable.type=MULTIPLICATIVE
## Cost to cast for unreliable 
descriptor.unreliable.cost=0.3
## Cost type to use for blood_power 
descriptor.blood_power.type=ADDITIVE_POST
## Cost to cast for blood_power 
descriptor.blood_power.cost=0.0
## Cost type to use for strong 
descriptor.strong.type=ADDITIVE
## Cost to cast for strong 
descriptor.strong.cost=2.0
## Cost type to use for powerful 
descriptor.powerful.type=ADDITIVE
## Cost to cast for powerful 
descriptor.powerful.cost=6.0
## Cost type to use for stacking_strong 
descriptor.stacking_strong.type=ADDITIVE
## Cost to cast for stacking_strong 
descriptor.stacking_strong.cost=4.0
## Cost type to use for massive_strong 
descriptor.massive_strong.type=ADDITIVE
## Cost to cast for massive_strong 
descriptor.massive_strong.cost=120.0
## Cost type to use for overwhelming 
descriptor.overwhelming.type=ADDITIVE
## Cost to cast for overwhelming 
descriptor.overwhelming.cost=0.0
## Cost type to use for solar_power 
descriptor.solar_power.type=ADDITIVE_POST
## Cost to cast for solar_power 
descriptor.solar_power.cost=0.0
